<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>dev.elsmr.aws-trace</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>721B7C99-244B-4DB5-8D2D-64EEA439C4D1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C7D512F6-D5FA-4776-9406-ACFFB790F07D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C7D512F6-D5FA-4776-9406-ACFFB790F07D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D1D5721F-0D3B-42C3-95D8-8996D9725E0C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Elias Meire</string>
	<key>description</key>
	<string>Workflow to open AWS Trace in CloudWatch Insights</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>AWS CloudWatch Trace</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://eu-central-1.console.aws.amazon.com/cloudwatch/home?region=eu-central-1#servicelens:traces/{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>D1D5721F-0D3B-42C3-95D8-8996D9725E0C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>aws-trace</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Open Trace in CloudWatch Insights</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>721B7C99-244B-4DB5-8D2D-64EEA439C4D1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>Root=</string>
				<key>replacestring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>C7D512F6-D5FA-4776-9406-ACFFB790F07D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>AWS CloudWatch Trace – Alfred Workflow

Alfred Workflow to open Traces in AWS CloudWatch Insights

Supports Alfred 3 and 4

Please see https://github.com/elsmr/alfred-aws-trace-workflow for more details</string>
	<key>uidata</key>
	<dict>
		<key>721B7C99-244B-4DB5-8D2D-64EEA439C4D1</key>
		<dict>
			<key>xpos</key>
			<integer>95</integer>
			<key>ypos</key>
			<integer>220</integer>
		</dict>
		<key>C7D512F6-D5FA-4776-9406-ACFFB790F07D</key>
		<dict>
			<key>xpos</key>
			<integer>350</integer>
			<key>ypos</key>
			<integer>240</integer>
		</dict>
		<key>D1D5721F-0D3B-42C3-95D8-8996D9725E0C</key>
		<dict>
			<key>xpos</key>
			<integer>520</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>AWS_SDK_LOAD_CONFIG</key>
		<string>true</string>
	</dict>
	<key>version</key>
	<string>4.4.0</string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
